<html>
<head>
</head>
<main class="main">
  <div class ="upper">
    <div class="upper_text">
  <%# ログインしているときは以下を表示する %>
     <% if user_signed_in? %> 
       <div class="greeting"> 
          こんにちは、 
         <%= link_to current_user.name, user_path(current_user.id), class: :greeting__link%>さん
      </div> 
      <% end %> 
    <%# // ログインしているときは上記を表示する %>
    </div>
    <div class = select_btn>
    <div class = "yes_no_btn">
     <button id="yes_no_btn" >YES/NO</button>
    </div>
    <div class = "jyanken_btn">
     <button id="jyanken_btn" >じゃんけん</button>
    </div>
    <div class = "suuji_btn">
     <button id="suuji_btn" >数字</button>
    </div>
    <div class = "hiragana_btn">
     <button id="hiragana_btn" >ひらがな</button>
    </div>
      <%# <%=link_to "YES/NO" , yesno_index_path, class: :yes_no_btn, id: "yes_no_btn" %> 
      <%# <%=link_to "じゃんけん" , root_path, class: :jyanken_btn %> 
      <%# <%=link_to "数字" , root_path, class: :c %>  
      <%# <%=link_to "ひらがな" , root_path, class: :hiragana_btn %> 
    </div>
  </div>
    <div class = customaize>
      <div class="customaize_inner">
  <%# // ログインしているときは下記を表示するようにする %>
      <% if user_signed_in? %>
        <%=link_to "カスタマイズ" , new_customize_path, class: :customize_btn%>
      <% end %>
      </div>
    </div> 
      
    </div>
  
</main>
</html>