<main class = customize_new>
  <div class="customize_input">
    <div class="customize_title_label">
      <%= label :text, "タイトル" %><br />
    </div>
    <input class="customize_title" placeholder= "type a message">
  </div>
  <div class="customize_detail">
    <div class="customize_detail_in">
      <div class="customize_detail_label">
        <%= label :text, "①" %><br />
      </div>
      <input class="customize_detail_text" placeholder= "1">
    </div>
    <div class="customize_detail_in">
      <div class="customize_detail_label">
        <%= label :text, "②" %><br />
      </div>
      <input class="customize_detail_text" placeholder= "2">
    </div>
    <div class="customize_detail_in">
      <div class="customize_detail_label">
        <%= label :text, "③" %><br />
      </div>
      <input class="customize_detail_text" placeholder= "3">
    </div>
    <div class="customize_detail_in">
      <div class="customize_detail_label">
        <%= label :text, "④" %><br />
      </div>
      <input class="customize_detail_text" placeholder= "4">
    </div>
    <div class="customize_detail_in">
      <div class="customize_detail_label">
        <%= label :text, "⑤" %><br />
      </div>
      <input class="customize_detail_text" placeholder= "5">
    </div>
  </div>
  <div class=customize_submit>
    <input class="customize_submit_btn" type="submit" value="登録">
  </div>
    </div>
  </div>
  
</main>