<!DOCTYPE html>
<html>
  <head>
    <title>KimeteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav_left">
          </div>
          <div class="nav_right">
            <%= link_to "ログイン", root_path, class: :head_btn %>
            <%= link_to "新規登録", root_path, class: :head_btn %> 
          </div>
        </div>
      </div> 

    <%# ログインしているときは以下を表示するようにしましょう %>
      <%# <% if user_signed_in? %>
       <%# <div class="head_right"> %>
         <%# <%= link_to "ログアウト", root_path, method: :delete, class: :head_logout %>
         <%# <%= link_to "New Proto", root_path, class: :head_btn %> 
            <%# </div> %>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# <% else %> 
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <%# <div class="head_right"> %>
              <%# <%= link_to "ログイン", root_path, class: :head_btn %> 
              <%# <%= link_to "新規登録", root_path, class: :head_btn %> 
            <%# </div> %>
          <%# <% end %> 
          <%# // ログインしていないときは上記を表示するようにしましょう %>
    </header>
    <%= yield %>
    <footer class = "footer">
      <p class="copyright">>
        Copyright kimeteapp 2021.
      </p>
    </footer>
  </body>
</html>
